@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Inter&display=swap");
@keyframes shine {
	0% {
		transform: translateX(-20cqw) translateY(-5px) rotate(40deg);
		opacity: 0;
	}
	70% {
		transform: translateX(90cqw) translateY(-5px) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: translateX(150cqw) translateY(-5px) rotate(50deg);
		opacity: 0.7;
	}
}
 .badge-wrapper {
    width: 90px;
    position: relative;
    height: fit-content;
    container-type: inline-size;
  }
  .badge-wrapper:has(.badge-gold) {
    filter: drop-shadow(-1px -1px 5px rgba(255, 255, 255, 0.75));
  }
  .badge {
    display: inline-block;
    text-align: center;
    border-radius: 9999px;
    font-weight: 900;
    font-family: "DM Mono", monospace;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }
  .badge-shiny {
    color: #ffffffc2;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid rgb(225 240 219 / 51%);
    /* Prevent overflow */
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  }
  .badge-shiny:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 110%;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 225, 0.7) 100%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shine 1.2s infinite linear;
    backdrop-filter: brightness(108%);
    border-radius: 50%;
    will-change: transform;
  } 
  .badge-shiny-straight:before {
    border-radius: 0;
  }
  .badge-green {
    text-shadow: -1px 0px 7px rgb(0 99 39 / 80%), 0px 4px 7px rgb(0 94 43 / 80%);
    background: radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #e5f0e4 8%,
      #c1dfc0 25%,
      #6ad389 62.5%,
      #007279 100%
    );
  }